html, body, .sidebar, .links {
  background-color: rgba(0, 0, 0, 0);
}

.custom-block-title {
  display: none
}

button {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (max-width: 959px) {
  .sidebar {
    background-color: #ffffff;
  }
}

#valine-vuepress-comment{
  max-width:740px;
  margin:0 auto;
}

